.objectSelection {
	position: absolute;
	pointer-events: none;
	border: 2px solid #ad1ffc;
}

.resizePoint {
	width: 10px;
	height: 10px;
	position: absolute;
	pointer-events: all;
	background: #ad1ffc;
}
