.slides-preview {
	min-width: 230px;
	max-height: 480px;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.slides-preview::-webkit-scrollbar {
	width: 12px; /* ширина scrollbar */
}

.slides-preview::-webkit-scrollbar-thumb {
	background-color: #dec5ec; /* цвет плашки */
	border-radius: 20px;
}

.element {
	display: flex;
	border-radius: 20px;
	justify-content: center;
}

.container {
	position: relative;
	width: 166px;
	height: 96px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid #cccccc;
	border-radius: 15px;
	margin-left: 5px;
}

.select {
	border: 3px solid #ad1ffc;
}
