.toolbar {
	height: 65px;

	display: flex;
	align-items: center;
	background-color: #f8ebff;
	margin: 26px 0 36px;
	border-radius: 50px;
}

.addDeleteBtn {
	display: flex;
	gap: 20px;
}

.undoRedoBtn {
	display: flex;
	gap: 5px;
}

.redactorBtn {
	display: flex;
	gap: 20px;
}
