.toolbar {
    height: 65px;

    display: flex;
    align-items: center;
    background-color: #F8EBFF;
    margin: 26px 0 36px;
    border-radius: 50px;
}

.toolbar__add-delete-btn {
    display: flex;
    gap: 20px;
}

.toolbar__undo-redo-btn {
    display: flex;
    gap: 5px;
}

.toolbar__redactor-btn {
    display: flex;
    gap: 20px;
}

