.toolbar {
	height: 50px;
	display: flex;
	align-items: center;
	background-color: #f8ebff;
	margin: 10px 0 30px;
	border-radius: 50px;
}

.addDeleteBtn {
	display: flex;
	gap: 20px;
}

.undoRedoBtn {
	display: flex;
	gap: 5px;
}

.redactorBtn {
	display: flex;
	gap: 20px;
}
