.textObject {
	user-select: text;
	position: absolute;
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
	border: none;
	overflow: visible;
	outline: none;
	box-shadow: none;
	resize: none;
	background-color: rgba(0, 0, 0, 0);
}


