.slideSelected {
	position: relative;
	width: 800px;
	height: 450px;
	box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 10%);
	background: #ffffff;
	background-size: 100% 100%;
}

.slidePlayer {
	width: 1600px;
	height: 900px;
	background-size: 100% 100%;
}

.slidePreview {
	position: relative;
	width: 160px;
	height: 90px;
	border-radius: 15px;
	background: #ffffff;
	overflow: hidden;
	background-size: 100% 100%;
}

.objectSelection {
	position: absolute;
	pointer-events: none;
	border: 2px solid #ad1ffc;
}

.resizePoint {
	width: 10px;
	height: 10px;
	position: absolute;
	background: #ad1ffc;
}
