.slideSelected {
	position: relative;
	width: 800px;
	height: 450px;
	box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 10%);
	background: #ffffff;
	background-size: 100% 100%;
}

.slidePreview {
	position: relative;
	width: 160px;
	height: 90px;
	border-radius: 15px;
	background: #ffffff;
	overflow: hidden;
	background-size: 100% 100%;
}

.objectSelection {
	border: 2px solid #ad1ffc;
}
