.workingField {
	display: flex;
	justify-content: flex-start;
	gap: 30px;
	user-select: none;
}

.background {
	position: relative;
	overflow: hidden;
	min-width: 830px;
	height: 480px;
	background-color: #cccccc;
	box-shadow: 5px 5px 10px 0 rgb(0 0 0 / 10%);
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}
